<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RHMenagment.Properties.Settings.RhMenagementConnectionString"
            connectionString="Data Source=DESKTOP-82C50KB\MAGICSQL;Initial Catalog=RhMenagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>